.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.header {
  grid-area: 1/1/5/5;
}

.shop {
  grid-area: 1/5/5/8;
}

.photo-one {
  grid-area: 5/1/7/3;
}

.about {
  grid-area: 5/3/7/6;
}

.photo-two {
  grid-area: 5/6/7/8;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flow-horizontal > * + * {
  margin-left: var(--flow-space, 1em);
}

.font-main {
  font-family: var(--font-main);
}

.color-main {
  color: var(--color-main);
}

.color-title {
  color: var(--color-title);
}

.color-description {
  color: var(--color-description);
}

.font-weight-500 {
  font-weight: var(--font-weight-500);
}

.font-weight-600 {
  font-weight: var(--font-weight-600);
}

.font-weight-700 {
  font-weight: var(--font-weight-700);
}

.padding-one {
  padding: var(--padding-one);
}

.padding-two {
  padding: var(--padding-two);
}

.padding-three {
  padding: var(--padding-three);
}

.font-size-one {
  font-size: var(--font-size-one);
}

.font-size-two {
  font-size: var(--font-size-two);
}

.font-size-three {
  font-size: var(--font-size-three);
}

a {
  color: var(--color-title);
}

body {
  height: 100vh;
  width: 100vw;
}

.product__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hamburger__links {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: gray;
}
.hamburger__links .container {
  width: 100%;
  height: 10rem;
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header {
  display: block;
  position: relative;
}
header .nav {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
header .nav .header__hamburger {
  display: none;
}
header .nav .nav__links {
  display: none;
}
header .nav a {
  color: var(--color-main);
}

.shop {
  position: relative;
}
.shop .shop__button {
  display: flex;
}
.shop .slide__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
}
.shop .slide__buttons .slide__left,
.shop .slide__buttons .slide__right {
  background-color: var(--color-title);
  padding: 1rem;
}
.shop .slide__buttons .slide__left img,
.shop .slide__buttons .slide__right img {
  flex-shrink: 0;
}

@media (max-width: 750px) {
  body {
    display: flex !important;
    flex-direction: column;
  }
  nav {
    top: 10 !important;
    left: 0 !important;
    width: 100dvw;
  }
  nav .container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  nav .container .nav__logo {
    order: 1;
    margin-right: auto;
    margin-left: auto;
  }
  nav .container .nav__hamburger {
    display: block;
    order: 0;
    margin: 0 !important;
    padding: 0 !important;
  }
  .slide__buttons {
    left: auto !important;
    right: 0;
    top: 0;
  }
}
:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(0, 0%, 63%);
  --color-grey-800: hsl(0, 0%, 27%);
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --padding-one: calc(6vw);
  --padding-two: calc(12vw);
  --padding-three: calc(16vw);
  --font-size-one: 1rem;
  --font-size-two: 2rem;
  --font-size-three: 3rem;
  --color-main: var(--color-white);
  --color-title: var(--color-black);
  --color-description: var(--color-grey-800);
  --font-main: "League Spartan", Arial, Helvetica, sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
